html{height: 100vh;}
body{
    height: 100vh;
    
   
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;

}
.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.board-1,.board-2{
    
    display: grid;
    height: 500px;
    width: 500px;
    gap: 1px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}
.squares{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: crosshair;
    
}
.dragable{
    height: 100%;
    width: 100%;
    border: 3px solid red;
}
.hitted{
    
}
.turn{
    filter: blur(2px);
    pointer-events: none;
}
.ships{
    height: 50px;
    width: 50px;
}
button{
    margin: 5px;
}
.gameStarted{
    display: none;
}







